
P{
    color:red;
    font-size:20 px;
}
.header{
    background-image: url(../Image/1.46034a5a.jpg);
    background-color: green;
    background-repeat: blue ;
}
.footer{
    background-color: red;
}
